html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 5%;

}

.banner {
  padding-left: 10px;
  padding-right: 40px;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

/* --------------------------------------------- */ 
  /* START OF THE PROJECT --> NEW CSS CONTROLS*/ 

  /* --------------------------------------------- */ 
  /* LOGIN SCREEN */   /* LOGIN SCREEN */   /* LOGIN SCREEN */ 
  /* LOGIN SCREEN */   /* LOGIN SCREEN */   /* LOGIN SCREEN */ 
  /* LOGIN SCREEN */   /* LOGIN SCREEN */   /* LOGIN SCREEN */ 

.wireframer_text {
  float:left;
  font-size: 18pt;
}

.register_text {
  float:right;
  font-size: 18pt;
}

.wireframer_text_box {
  position: relative;
  height: 400px;
  width: 500px;
  float: right;
  right: 90px;
  top: 50px;
}

.login_box {
  height: 500px;
}

#login_text {
  font-weight: bold;
  font-size: 25pt;
}

#form_format {
  position: relative;
  top: 70px;
  left: 60px;
}

  /* --------------------------------------------- */ 
  /* HOME SCREEN */   /* HOME SCREEN */   /* HOME SCREEN */ 
  /* HOME SCREEN */   /* HOME SCREEN */   /* HOME SCREEN */ 
  /* HOME SCREEN */   /* HOME SCREEN */   /* HOME SCREEN */ 

#create_wireframe_button {
  position : relative;
  height : 100px;
  width: 400px;
  top: 260px;
  left: 50px;
}

#recent_work_text {
  position : relative;
  top: 45pt;
  left: 10pt;
}