html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 5%;

}

.banner {
  padding-left: 10px;
  padding-right: 40px;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

/* --------------------------------------------- */ 
  /* START OF THE PROJECT --> NEW CSS CONTROLS*/ 

  /* --------------------------------------------- */ 
  /* LOGIN SCREEN */   /* LOGIN SCREEN */   /* LOGIN SCREEN */ 
  /* LOGIN SCREEN */   /* LOGIN SCREEN */   /* LOGIN SCREEN */ 
  /* LOGIN SCREEN */   /* LOGIN SCREEN */   /* LOGIN SCREEN */ 

.wireframer_text {
  float:left;
  font-size: 18pt;
}

.register_text {
  float:right;
  font-size: 18pt;
}

.wireframer_text_box {
  position: relative;
  height: 400px;
  width: 500px;
  float: right;
  right: 90px;
  top: 50px;
}

.login_box, .register_box {
  height: 500px;
}

#login_text, #register_text {
  font-weight: bold;
  font-size: 25pt;
}

#form_format {
  position: relative;
  top: 70px;
  left: 60px;
}

  /* --------------------------------------------- */ 
  /* HOME SCREEN */   /* HOME SCREEN */   /* HOME SCREEN */ 
  /* HOME SCREEN */   /* HOME SCREEN */   /* HOME SCREEN */ 
  /* HOME SCREEN */   /* HOME SCREEN */   /* HOME SCREEN */ 

#wireframe_name {
  position: relative;
  left: 7px;
  color: black;
}

#admin_button {
  position : relative;
  height : 89px;
  width: 300px;
  top: 50px;
  left: 95px;
}

#delete_icon {
  position: relative;
  float:right;
  top: 3px;
  z-index: 9999; /* to move in front of other elements. */
  cursor:pointer;
}

#create_wireframe_button {
  position : relative;
  height : 100px;
  width: 400px;
  top: 50px;
  left: 610px;
}

.home_box {
  height: 600px;
}

#recent_work_text {
  position : relative;
  top: 45pt;
  left: 10pt;
}

.wireframe_card {
  width: 300px;
  font-size: 16pt;
}

  /* --------------------------------------------- */ 
  /* REGISTER SCREEN */   /* REGISTER SCREEN */   /* REGISTER SCREEN */ 
  /* REGISTER SCREEN */   /* REGISTER SCREEN */   /* REGISTER SCREEN */ 
  /* REGISTER SCREEN */   /* REGISTER SCREEN */   /* REGISTER SCREEN */ 

#register_form {
  position:absolute;
  top: 90px;
  left: 20px;
}

.input-field2 {
  height: 50px;
  width: 500px;
  margin-bottom: 2rem;
}

  /* --------------------------------------------- */ 
  /* ADMIN SCREEN */   /* ADMIN SCREEN */   /* ADMIN SCREEN */ 
  /* ADMIN SCREEN */   /* ADMIN SCREEN */   /* ADMIN SCREEN */ 
  /* ADMIN SCREEN */   /* ADMIN SCREEN */   /* ADMIN SCREEN */ 

.handle_button {
  position: relative;
  left: 250px;
  font-size: 30pt;
  text-align : center;
  cursor: pointer;
}

#return_home {
  position: relative;
  margin-left: 165px;
}

 /* --------------------------------------------- */ 
  /* EDIT SCREEN */   /* EDIT SCREEN */   /* EDIT SCREEN */ 
  /* EDIT SCREEN */   /* EDIT SCREEN */   /* EDIT SCREEN */ 
  /* EDIT SCREEN */   /* EDIT SCREEN */   /* EDIT SCREEN */ 

.edit_box {
  height : 600px;
}

.inner_edit_box {
  position : relative;
  top: 2px;
  left : 22px;
  height: 550px;
  width: 1100px;
}

.left_screen {
  float : left;
  position : relative;
  height: 500px;
  top: 48px;
  width: 260px;
}

.top_left {
  position : relative;
  height: 58px;
  bottom : 50px;
  width: 260px;
  right: 1px;
}

.right_screen {
  height: 548px;
  width: 260px;
  float : right;
}

.middle_screen {
  position : absolute;
  height: 548px;
  width: 580px;
  left: 260px;
}



#zoom_buttons {
  cursor:pointer;
  position : relative;
  left: 5px;
}

#save_work {
  position : relative;
  bottom: 65px;
  left: 138px;
}

#close_work {
  position : relative;
  bottom: 97px;
  left: 195px;
}

.container_example {
  cursor: pointer;
}

.container_box {
  position : relative;
  left: 55px;
  bottom: 15px;
  text-align : center;
  height: 80px;
  width: 140px;
}

#container_text {
  position: relative;
  left: 80px;
  bottom: 5px;
}

.prompt_text1 {
  position : relative;
  font-size: 12pt;
  /* left: 68px; */
  /* cursor:pointer; */
}

.prompt_text {
  cursor: pointer;
}

.prompt_text2 {
  position : absolute;
  font-size: 12pt;
  /* left: 68px; */
  /* cursor:pointer; */
}
  /* for the select: */
.rectangle1_label, .rectangle2_label, .rectangle3_label, .rectangle4_label, .rectangle1_textfield, .rectangle2_textfield, .rectangle3_textfield, .rectangle4_textfield {
  position:absolute;
  z-index: 9999;
  height: 10px;
  width: 10px;
  background-color : white;
  border-color: black;
  border-width: 0.5px;
  border-style: solid;
  border-radius : 2px;
}

.rectangle1_button, .rectangle2_button, .rectangle3_button, .rectangle4_button, .rectangle1_container, .rectangle2_container, .rectangle3_container, .rectangle4_container {
  /* position:absolute; */
  z-index: 9999;
  height: 10px;
  width: 10px;
  background-color : white;
  border-color: black;
  border-width: 0.5px;
  border-style: solid;
  border-radius : 2px;
}

.rectangle1_label {
  /* bottom left */
  /* position:relative; */
  /* background-color : blue; */
  float: left;
  top : 90px;
  right: 5px;
}

.rectangle2_label {
  /* top right */
  /* position:relative; */
  float: right;
  left: 45px;
  bottom: 15px;
}

.rectangle3_label {
  /* top left */
  /* position : relative; */
  float : left;
  right: 50px;
}

.rectangle4_label {
  /* bottom right */
  /* position : relative; */
  float: right;
  top: 63px;
}

.rectangle1_textfield {
  /* bottom left */
  position:relative;
  float: left;
  top : 30px;
  left: 20px;
}

.rectangle2_textfield {
  /* top right */
  position:relative;
  float: right;
  left: 28px;
  bottom: 28px;
}

.rectangle3_textfield {
  /* top left */
  position : relative;
  float : left;
  right: 199px;
  bottom: 2px;
}

.rectangle4_textfield {
  /* bottom right */
  position : relative;
  /* background-color: blue; */
  float: right;
  left: 1px;
  top: 10px;
}

.rectangle1_container {
  /* top left */
  position:relative;
  float: left;
  left: 50px;
  bottom: 18px;
}

.rectangle2_container {
  /* top right */
  position:relative;
  float: right;
  left: 58px;
  bottom: 99px;
}

.rectangle3_container {
  /* bottom left */
  position : relative;
  float : left;
  top: 75px;
  right: 139px;
}

.rectangle4_container {
  /* bottom right */
  position : relative;
  float: right;
  left: 1px;
  top: 65px;
}

.rectangle1_button {
  /* top left */
  position : absolute;
  background-color : blue;
  /* float: left; */
  left: 20%;
  /* margin-bottom: 9%; */
}

.rectangle2_button {
  /* top right */
  position: absolute;
  /* float: right; */
  /* right: -25%; */
  margin-left: 117%;
  bottom: 95%;
}

.rectangle3_button {
  /* bottom left */
  position : absolute;
  float: left;
  margin-left: 19%;
  /* margin-top: -5%; */
  /* left: 19%; */
  bottom: 1%;
  /* float : left; */
  /* right: 179%; */
}

.rectangle4_button {
  /* bottom right */
  position : absolute;
  left: 118%;
  bottom: 0%;

}

#prompt_for_input {
    position:relative;
    left: 68px;
}

#label_text {
  position: relative;
  font-size: 14pt;
  font-weight : bold;
  left: 95px;
}

.button_example {
  position : relative;
  line-height: 2em;
}

.button_submit {
  position : relative;
  cursor: pointer;
  height: 33px;
  width: 180px;
  left: 35px;
}

#button_text {
  position : relative;
  font-size: 13pt;
  font-weight: bold;
  left: 93px;
  /* cursor:pointer; */
}

.textfield_example {
  position:relative;
  line-height: 1em;
}

.properties_example {
  position:relative;
  bottom: 15px;
  line-height: 0.1em;
}

#textfield_input {
  position:relative;
    grid-column: 2;
    margin-top: 1%;
    font-size: 12pt;
    width: 200px;
    left: 25px;
}

.textfield_input { 
  position:relative;
  cursor: pointer;
  grid-column: 2;
  margin-top: 1%;
  font-size: 12pt;
  width: 200px;
  left: 25px;
}

#textfield_label {
  position: relative;
  left:88px;
  font-size:14pt;
  font-weight: bold;
}

#properties_label {
  position: relative;
  left:25px;
  font-size:13pt;
  font-weight: bold;
}

.labels_list {
  position:relative;
  line-height: 4em;
}

#font_size_label, #background_label, #border_color_label, #border_thickness_label, #border_radius_label, #text_color_label {
  position : relative;
  font-size: 14pt;
  font-weight: bold;
  left: 25px;
}

#font_size_textfield {
  position:relative;
  grid-column: 2;
  margin-top: 1%;
  font-size: 12pt;
  width: 80px;
  left: 25px;
}

#background_field {
  position:relative;
  left: 15px;
}

#border_color_field, #text_color_field {
  position:relative;
  left: 15px;
}

#border_thickness_field {
  position:relative;
  left: 15px;
  width: 40px;
}

#border_radius_field {
  position:relative;
  left: 15px;
  width: 40px;
}

#name_of_wireframe {
  font-size: 14pt;
  position : relative;
  top: 20px;
  margin-left: 10%;
}

#name_wireframe_field {
  font-size: 12pt;
  margin-left: 4%;
  width: 150px;
}

#control_move, .control_move  {
  cursor : move;
}

#control_spawn {
  position: relative;
  top: 15px;
}

#movable {
  position: absolute;
  outline:none;
}

.visible_button1, .visible_button2, .visible_label1, .visible_label2 {
  visibility : hidden;
}

#inner_label, #inner_textfield, #inner_button, #inner_container {
  /* visibility: hidden; */
}

.item_border {
  border-width: 1px;
  border-style: solid;
  border-radius: 2pt;
  border-color: black;

}

.resize_element {

  /* z-index: 9999; */
  resize: both;
  overflow: hidden;
  border: 1px solid black;
}

.zoomIn {
  transform: scaleX(2);
  transform: scaleY(2);
}

.zoomOut {
  transform: scaleX(0.5);
  transform: scaleY(0.5);
}

#zoomable { 
  position : fixed;
}