/* --------------------------------------------- */ 
/* GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL 
    GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL 
    GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL 
/* --------------------------------------------- */ 

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  position: absolute;
  width: 80%;
  left: 10%;
  top: 5%;
}

/* Navbar */
.banner {
  padding-left: 10px;
  padding-right: 40px;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}


/* --------------------------------------------- */ 
/* HOMESCREEN HOMESCREEN HOMESCREEN HOMESCREEN 
   HOMESCREEN HOMESCREEN HOMESCREEN HOMESCREEN 
   HOMESCREEN HOMESCREEN HOMESCREEN HOMESCREEN 
/* --------------------------------------------- */ 

.home-content {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 80%;
  width: 100%;
}

/* --------------------------------------------- */ 
/* ADMIN ADMIN ADMIN ADMIN ADMIN ADMIN ADMIN 
    ADMIN ADMIN ADMIN ADMIN ADMIN ADMIN ADMIN 
    ADMIN ADMIN ADMIN ADMIN ADMIN ADMIN ADMIN 
/* --------------------------------------------- */ 

#admin_wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 350px;
  background-image: linear-gradient(to bottom,         
  #ffffff, silver);
}

#admin_options {
  display: flex;
  justify-content: space-between;
  /* margin: 50px; */
  margin-top: 5%;
}

#admin_notes {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 14%;
  font-weight: bold;
  font-size: 14pt;
  color: red;
}

.handle_button {
  position: relative;
  font-size: 30pt;
  /* text-align : center; */
  cursor: pointer;
}

#return_home {
  margin-left: 5%;
}

#clear_database {
  position: relative;
  /* position: absolute; */
  left: 20px;
}

#reset_database {
  margin-right: 5%;
}

/* --------------------------------------------- */ 
/* LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN
   LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN
   LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN
/* --------------------------------------------- */ 

#login_text, #register_text {
  font-weight: bold;
  font-size: 25pt;
}

.login_box {
  position: relative;
  height: 500px;
}

.wireframer_text {
  float:left;
  font-size: 18pt;
}

.wireframer_text_box {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 400px;
  width: 500px;
  margin-right: 90px;
  margin-top: 50px;
}


.login-content {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  width: 100%;
}

.form_format {
  vertical-align: top;
  position: relative;
  display: inline;
  vertical-align: top;
  margin-top: 70px;
  margin-left: 80px;
  width: 400px;
}

/* --------------------------------------------- */ 
/* HOME HOME HOME HOME HOME HOME HOME HOME HOME
   HOME HOME HOME HOME HOME HOME HOME HOME HOME
   HOME HOME HOME HOME HOME HOME HOME HOME HOME
/* --------------------------------------------- */ 

#wireframe_name {
  position: relative;
  left: 7px;
  color: black;
}

#admin_button {
  position : relative;
  height : 89px;
  width: 300px;
  margin-top: 50px;
  margin-left: 95px;
  cursor: pointer;
}

#admin_button:hover {
  opacity: var(--on-hover-style);
}

#delete_icon {
  position: relative;
  float:right;
  margin-top: 3px;
  z-index: 9999; /* to move in front of other elements. */
  cursor:pointer;
}

#delete-icon:hover {
  color: red;
}

#create_wireframe {
  position: absolute;
  bottom: 0px;
  right: 135px;
}

#create_wireframe_button {
  position: relative;
  height: 100px;
  width: 400px;
  bottom: 22px;
  cursor: pointer;
}

#create_wireframe_button:hover {
  opacity: var(--on-hover-style);
}

.home_wrapper {
  position: relative;
  height: 600px;
}

#recent_work_text {
  position : relative;
  top: 45pt;
  left: 10pt;
}

.wireframe_card {
  width: 300px;
  font-size: 16pt;
}

.wireframe_card:hover {
  opacity: var(--on-hover-style);
}

  /* --------------------------------------------- */ 
  /* REGISTER REGISTER REGISTER REGISTER REGISTER 
     REGISTER REGISTER REGISTER REGISTER REGISTER 
     REGISTER REGISTER REGISTER REGISTER REGISTER 
  /* --------------------------------------------- */ 

.register_box {
    position: relative;
    height: 600px;
  }

#register_form {
  vertical-align: top;
  position: relative;
  display: inline;
  vertical-align: top;
  margin-top: 50px;
  margin-left: 60px;
  /* width: 400px; */
}

.register_text {
  float:right;
  font-size: 18pt;
}

.register-content {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  width: 100%;
}

.register-input-field {
  height: 50px;
  width: 500px;
  margin-bottom: 2rem;
}

.register-wireframer-text-box {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 400px;
  width: 450px;
  margin-right: 60px;
  margin-top: auto;
  margin-bottom: auto;
}

  /* --------------------------------------------- */ 
  /* EDIT EDIT EDIT EDIT EDIT EDIT EDIT EDIT EDIT EDIT
     EDIT EDIT EDIT EDIT EDIT EDIT EDIT EDIT EDIT EDIT
     EDIT EDIT EDIT EDIT EDIT EDIT EDIT EDIT EDIT EDIT
  /* --------------------------------------------- */ 

.edit_box {
  position: absolute;
  height : 600px;
  width: 100%;
}

.inner_edit_box {
  position: relative;
  margin:auto;
  /* left : 22px; */
  height: 550px;
  width: 1100px;
}

.left_screen {
  display: inline-block;
  margin-right: auto;
  position : relative;
  height: 548px;
  width: 260px;
  vertical-align:top
}

.top_left {
  position : relative;
  height: 58px;
  width: 259px;
}

.bottom_left {
  position : relative;
  height: 58px;
  width: 260px;
}

.right_screen {
  display: inline-block;
  position: relative;
  float: right;
  vertical-align: top;
  height: 548px;
  width: 260px;
}

.right_screen_no_item {
  position: absolute;
  width : 100%;
  top: 45%;
  text-align: center;
  font-size: 16pt;
  font-weight: 700;
  color: var(--swatch-disabled);
}

.right_screen_item_selected {
  margin-top: 15%;
}

.middle_screen {
  display: inline-block;
  overflow : auto;
  position : relative;
  height: 548px;
  width: calc(100% - 520px);
  margin:auto;
  vertical-align: top;
  text-align: center;
  /* top: 48px; */
  /* right: 585px; */
}

#zoom_buttons {
  cursor:pointer;
  position : relative;
  left: 5px;
}

#save_work {
  position : relative;
  bottom: 65px;
  left: 138px;
}

#close_work {
  position : relative;
  bottom: 97px;
  left: 195px;
}

#save_work:hover, #close_work:hover {
  opacity: var(--on-hover-style);
}

.material-icons:hover {
  opacity: var(--on-hover-style);
}

.container_example {
  top: 35px;
  position: relative;
  text-align: center;
  cursor: pointer;
  margin: auto;
}

.container_box {
  position: relative;
  margin: auto;
  height: 80px;
  width: 140px;
}

.example_item_select {
  border-color: black;
  border-width: 0.8px !important;
  border-style: solid;
  border-radius : 2px;
  /* box-shadow: 1px 1px 1px var(--swatch_contrast); */
}

.example_item_select:hover {
  /* border-color: red;
  border-width: 0.8px;
  border-style: solid;
  border-radius : 2px; */
  opacity: var(--on-hover-style);
}

.container_box2 {
  /* position */
  left: 55px;
  bottom: 15px;
  text-align : center;
  height: 80px;
  width: 140px;
}

#container_text {
  position: relative;
  font-weight: 600;
}

.prompt_text {
  margin: auto;
  cursor: pointer;
  width: 200px;
  text-align: center;
}

/* for the select: */
.rectangle1_label, .rectangle2_label, .rectangle3_label, .rectangle4_label, .rectangle1_textfield, .rectangle2_textfield, .rectangle3_textfield, .rectangle4_textfield {
  position:absolute;
  z-index: 9999;
  height: 10px;
  width: 10px;
  background-color : white;
  border-color: black;
  border-width: 0.5px;
  border-style: solid;
  border-radius : 2px;
}

.rectangle1_button, .rectangle2_button, .rectangle3_button, .rectangle4_button, .rectangle1_container, .rectangle2_container, .rectangle3_container, .rectangle4_container {
  position:absolute;
  z-index: 9999;
  height: 10px;
  width: 10px;
  background-color : white;
  border-color: black;
  border-width: 0.5px;
  border-style: solid;
  border-radius : 2px;
}

.rectangle_bottomleft, .rectangle_bottomright, .rectangle_topleft, .rectangle_topright {
  position:absolute;
  z-index: 9999;
  height: 10px;
  width: 10px;
  background-color : white;
  border-color: black;
  border-width: 0.5px;
  border-style: solid;
  border-radius : 2px;
}

.select_border {
  /* position:absolute; */
  z-index: 9999;
  height: 10px;
  width: 10px;
  background-color : white;
  border-color: black;
  border-width: 0.5px;
  border-style: solid;
  border-radius : 2px;
}

.rectangle_topleft{
  position: absolute;
  left: -3px;
  top: -3px;
}
.rectangle_topright{
  position: absolute;
  right: -3px;
  top: -3px;
}
.rectangle_bottomleft{
  position: absolute;
  left: -3px;
  bottom: -3px;
}
.rectangle_bottomright{
  position: absolute;
  right: -3px;
  bottom: -3px;
}

.rectangle1_label {
  /* top left */
  left: -6%;
  top: -4%;
}

.rectangle2_label {
  /* top right */
  right: -6%;
  top: -4%;
}

.rectangle3_label {
  /* bottom left */
  left: -6%;
  bottom: -4%;
}

.rectangle4_label {
  /* bottom right */
  right: -6%;
  bottom: -4%;
}

.rectangle1_textfield {
  /* top left */
  left: -2%;
  top: -4%;
}

.rectangle2_textfield {
  /* top right */
  right: -2%;
  top: -4%;
}

.rectangle3_textfield {
  /* bottom left */
  left: -2%;
  bottom: -4%;
}

.rectangle4_textfield {
  /* bottom right */
  right: -2%;
  bottom: -4%;
}

.rectangle1_container {
  /* top left */
  /* top: -23%; */
  left: -2%;
  top: -2%;
}

.rectangle2_container {
  /* top right */
  right: -2%;
  top: -2%;
}

.rectangle3_container {
  /* bottom left */
  bottom: -3%;
  left: -2%;
}

.rectangle4_container {
  /* bottom right */
  right: -2%;
  bottom: -2%;
}

.rectangle1_button {
  /* top left */
  position : absolute;
  left: -2%;
  top: -5%;
}

.rectangle2_button {
  /* top right */
  position: absolute;
  right: -2%;
  top: -5%;
}

.rectangle3_button {
  /* bottom left */
  position : absolute;
  left: -2%;
  bottom: -5%;
}

.rectangle4_button {
  /* bottom right */
  position : absolute;
  right: -2%;
  bottom: -5%;
}

#prompt_for_input {
    position:relative;
    top: 30px;
    margin: auto;
    text-align: center;
    height: 50px;
}

.prompt_text2 {
  font-size: 12pt;
  width: 259px;
  height: 25px;
  background: none;
}

#label_text {
  position: relative;
  font-size: 14pt;
  font-weight : bold;
}

.example_item { 
  font-size: 14pt;
  margin-top: 5%;
}

.button_example {
  position : relative;
  margin: auto;
  text-align: center;
  top: 60px;
}

.button_submit {
  position : relative;
  cursor: pointer;
  height: 33px;
  width: 180px;
}

.button_submit2 {
  /* overflow : auto; */
  cursor: pointer;
  height: 33px;
  width: 180px;
  left: 35px;
}

#button_text {
  position : relative;
  font-size: 13pt;
  font-weight: bold;
  /* cursor:pointer; */
}

.textfield_example {
  position:relative;
  top: 60px;
  text-align: center;
}

.properties_example {
  position:relative;
  bottom: 10px;
  line-height: 0.1em;
}

#textfield_input {
  position:relative;
  grid-column: 2;
  margin-top: 1%;
  font-size: 12pt;
  left: 25px;
}

.textfield_input { 
  background-color: "#0000ff";
  position: relative;
  cursor: pointer;
  font-size: 12pt;
  width: 200px;
  margin: auto;
}

.textfield_input2 { 

  cursor: pointer;
  grid-column: 2;
  margin-top: 1%;
  font-size: 12pt;
  /* width: 200px; */
  /* height: 25px; */
  left: 25px;
}

#textfield_label {
  position: relative;
  font-weight: bold;
}

#properties_label {
  position: relative;
  margin-left:10%;
  font-size:13pt;
  font-weight: bold;
}

.labels_list {
  position:relative;
  height: 100%;
  line-height: 4em;
}

#font_size_label, #background_label, #border_color_label, #border_thickness_label, #border_radius_label, #text_color_label {
  font-size: 14pt;
  font-weight: bold;
  margin-left: 10%;
}

#zIndexItem {
  position: relative;
  text-align: center;
  bottom: 5px;
}

#bring_to_front, #send_to_back {
  width: 110px;
}

#bring_to_front {
  margin-right: 10px;
}

#font_size_textfield {
  position:relative;
  grid-column: 2;
  margin-top: 1%;
  font-size: 12pt;
  width: 80px;
  left: 25px;
}

#background_field {
  position:relative;
  left: 15px;
}

#border_color_field, #text_color_field {
  position:relative;
  left: 15px;
}

#border_thickness_field {
  position:relative;
  left: 15px;
  width: 40px;
}

#border_radius_field {
  position:relative;
  left: 15px;
  width: 40px;
}

.name_of_wireframe {
  font-size: 14pt;
  position : relative;
  /* margin-top: 5px; */
  /* margin-bottom: 15px; */
  bottom: 15px;
  margin-left: 10%;
}

.name_of_wireframe_no_item {
  font-size: 14pt;
  position : absolute;
  margin-left: 10%;
  bottom: 25px;
}

#name_wireframe_field {
  font-size: 12pt;
  margin-left: 10px;
  width: 150px;
}

#control_move, .control_move  {
  cursor : move;
}

#control_spawn {
  top: 100%;
  left: 100%;
}

.visible_button1, .visible_button2, .visible_label1, .visible_label2 {
  visibility : hidden;
}

#inner_label, #inner_textfield, #inner_button, #inner_container {
  /* visibility: hidden; */
}

.item_border {
  border-width: 1px;
  border-style: solid;
  border-radius: 2pt;
  border-color: black;

}

.resize_element {
  z-index: 99999;
  resize: both;
  overflow: hidden;
  border: 1px solid black;
}

.resizable {
  z-index : 9999;
}

.resize_element {
  resize: inherit;
  overflow: hidden;
}

.zoomIn {
  transform: scaleX(2);
  transform: scaleY(2);
}

.zoomOut {
  transform: scaleX(0.5);
  transform: scaleY(0.5);
}

.dimension {
  display: inline-block;
  margin:auto;
  border-color: black;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 4pt;
  position: relative;
  overflow: auto;
  top: 30px;
  height: 460px;
  width: 500px;
}

#dimension { 
  overflow : auto;
}

#wireframe_dimensions {
  position: relative;
  margin: auto;
  /* left: 1px; */
  height: 45px;
  width: 579px;
}

#dimension_width, #dimension_height {
  margin-top: 7px;
  margin-right: 20px;
  width: 100px;
  font-size: 14pt;
}

.font_dimension {
  font-size: 18pt;
}

#dimension_width_button, #dimension_height_button {
  position: relative;
  width: 150px;
  top: 5px;
  right: 15px;
  height: 35px;
  font-size: 12pt;
  float:right;
  cursor: pointer;
}

#wireframe_dimension_left {
  /* width */
  position: absolute;
  text-align: center;
  float: left;
  width: 289px;
  height: 45px;
  border-color: black;
  border-width: 0.5px;
  border-top: 0;
  border-right: 0;
  border-style: solid;
  
}

#wireframe_dimension_right {
  /* height */
  position: relative;
  text-align: center;
  float : right;
  width: 291px;
  height: 45px;
  border-color: black;
  border-width: 0.5px;
  border-top: 0;
  /* border-left: 0; */
  border-style: solid;
}


#my_modal {
  visibility : hidden;
  /* display: none; hidden by default */
  position: fixed; /* Stay in place front is invalid - may break your css so removed */  
  z-index: 2147483647; /* to move in front of other elements. */
  top: 50%;
  width: 300px;
  height: 220px;
  opacity : 100%;
  background-color: #E1E4CB;
  text-align: center;
  z-index: 2147483647;
}

.modal-close {
  width: 100px;
  height: 50px;
}

#yes:hover, #no:hover {
  opacity: var(--on-hover-style);
}

#modal_screen_overlay {
  position:fixed;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  display:none;
  background-color:#000;
  opacity:0.5;
  /* pointer-events: none; */
  z-index: 2147483646;
}

.modal_content {
  color: #000;
  text-decoration: none;
}

@keyframes fadein {
	from {
    visibility : hidden;
    opacity:0;
	}
	to {
    visibility : visible;
    opacity:1;
  }
}

@keyframes fadeout {
	from {
    visibility : visible;
    opacity:1;
	}
	to {
    visibility : hidden;
    opacity:0;
  }
}